* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}
body {
  background-color: white;
}


#links {
  
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  box-shadow: 2px 2px 5px 5px rgb(114, 113, 113);
}

#links > div {
  display: flex;
  list-style: none;
}
#links a {
  text-decoration: none;
  color:  rgb(8, 83, 83);
  font-size: 30px;
}


table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

th,
td {
  padding: 15px;
}

tr > th {
  background-color: rgb(8, 83, 83);
  color: white;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}